.main {
    background-color: var(--darkblue-color);
    color: white;
    padding-top: 2rem;
}

.leftBox h1 {
    text-align: center;
    font-size: 4rem;
    margin-left: 4rem;
}

/* Blue Circle */
.leftBox img:nth-child(2){
    position: absolute;
    width: 15rem;
    left: 11.25rem;
}

/* Gold Circle */
.leftBox img:nth-child(3){ 
    position: absolute;
    width: 32rem;
    left: 19.9rem;
    top: 18rem;
    rotate: 27deg;
}

/* White Circle */
.leftBox img:nth-child(4){
    width: 19rem;
    margin: 14.9rem 0 1.5rem 7.9rem;
}

.formMain {
    margin: 3rem 6rem 0 2.5rem;
}

.formInput {
    margin-bottom: 3.5rem;
    background-color: black;
    border: 0.15rem solid white;
    border-radius: 0;
    font-size: 1.4rem;
}

.formInput::placeholder {
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: white;
}

.formInput:focus {
    color: white;
    background-color: #0b101f;
}

.formButton {
    background-color: var(--cream-color);
    border: none;
    border-radius: 2rem;

    font-size: 1.5rem;
    color: var(--darkblue-color);
    padding: 0.55rem 5.5rem;
}

@media (max-width: 767px) {
    .rightBox {
        z-index: 1;
    }

    .leftBox h1 {
        margin: 0;
        padding: 0.5rem;
        font-size: 2.6rem;
    }

    .leftBox img{
        display: none;
    }

    .leftImages{
        position: absolute;
        width: 100vw;
        height: 70vh;
        left: 0;
        top: 17rem;
        margin: 0;

        background-image: 
            url('../../../public/assets/img/symbols/persistencia-2.png'),
            url('../../../public/assets/img/symbols/resistencia.png'),
            url('../../../public/assets/img/symbols/vencer.png');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 
            14rem,
            22rem,
            14rem;
        background-position: 
            left top, 
            left 7rem top 4rem, 
            right 11rem top 16.2rem;
        padding-bottom: 1rem;
    }

    .formMain {
        margin: 2rem 1rem;
    }

    .formInput {
        margin-bottom: 2.5rem;
    }

    .formButton {
        margin-bottom: 2rem;
    }
    
}