.main {
    background-color: var(--darkblue-color);
    color: white;
    padding-top: 2rem;
}

.leftBox h1 {
    text-align: center;
    font-size: 4rem;
    margin-left: 4rem;
}

/* Blue Circle */
.leftBox img:nth-child(2){
    position: absolute;
    width: 15rem;
    left: 11.25rem;
}

/* Gold Circle */
.leftBox img:nth-child(3){ 
    position: absolute;
    width: 32rem;
    left: 19.9rem;
    top: 18rem;
    rotate: 27deg;
}

/* White Circle */
.leftBox img:nth-child(4){
    width: 19rem;
    margin: 14.9rem 0 1.5rem 7.9rem;
}

.formMain {
    margin: 3rem 6rem 0 2.5rem;
}

.formInput {
    margin-bottom: 3.5rem;
    background-color: black;
    border: 0.15rem solid white;
    border-radius: 0;
    font-size: 1.4rem;
}

.formInput::placeholder {
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: white;
}

.formInput:focus {
    color: white;
    background-color: #0b101f;
}