.footer {
    padding: 1rem;
    background-color: var(--darkblue-color);

    display: flex;
    flex-direction: column;
}

.line {
    position: absolute;
    width: 100%;
    left: 0;
    height: 0.1rem;
    background-color: white;
}

.footerIcons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.logoChain {
    margin-left: 6rem;
}

.social {
    margin-right: 6rem;
}

@media only screen and (max-width: 600px) {
    .logoChain {
        margin-left: 0;
    }

    .social {
        margin-right: 0;
    }
}