.menu {
    padding: 2.5rem;
    background-color: var(--darkblue-color);
}

.menu a {
    color: white;
}

.menu a:hover {
    color: var(--cream-color);
}

.menuItems a{
    margin-left: 4.2rem;
}

.logoDW {
    position: absolute;
    z-index: 10;
    width: 8.5rem;
    height: auto;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.logoDW:hover {
    width: 9rem;
    height: auto;
    filter: brightness(1.2);
}

.search {
    margin-left: 31rem;
}

.searchBar {
    border: none;
    background-color: transparent;
    color: white;
}

.searchBar::placeholder {
    color: white;
}

.searchBar:focus {
    background-color: transparent;
    color: white;
}

.social {
    margin-right: 3.5rem;
}

@media (max-width: 767px) {
    .menu {
        z-index: 1;
    }
    .menu a{
        font-size: 1.8rem;
        padding-left: 1.5rem;
    }

    .menu a:nth-child(1) {
        margin-top: 3rem;
    }
    .logoDW {
        left: 20%;
        top: 1.1rem;
        width: 6rem;
    }
    
    .logoDW:hover {
        width: 6rem;
    }

    .search {
        margin: 1rem 0 6rem 4.5rem;
    }

    .searchBar::placeholder{
        font-size: 1.8rem;
    }

    .searchBar:focus{
        margin-right: 4.5rem;
        font-size: 1.8rem;
    }

    .social {
        margin-left: 5.7rem;
    }
}