:root {
  --darkblue-color: #040521;
  --cream-color: #FFC67E;
}

* {
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

/* --------- CAROUSEL MODIFICATIONS --------- */
.carousel-indicators {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  transform: translateX(13.8%);
}

.carousel-indicators [data-bs-target] {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.9rem;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: var(--cream-color);
  border: 2px solid var(--cream-color);;
  opacity: 1;
}

/* -------------------- DESKTOP VERSION -------------------- */

/* --------- CARD MODIFICATIONS --------- */
.card {
  --bs-card-spacer-x: 0;
}

/* --------- FORM MODIFICATIONS --------- */
.form-control {
  color: #eeeeee;
}

/* --------- SEARCH MODIFICATIONS --------- */
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback):focus {
  border-bottom: 1px solid white;
  border-left: transparent;
  border-radius: 0;
}

.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
  padding-left: 0;
}

/* -------------------- MOBILE VERSION -------------------- */
.navbar {
  --bs-navbar-toggler-focus-width: 0;
  --bs-navbar-toggler-border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url('../../public/assets/img/icons/menu-icon.png');
  margin-left: 18rem;
  width: 2rem;
}

@media (max-width: 767px) {
  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    font-size: 1.8rem;
  } 
}