.body {
    background-color: var(--darkblue-color);
    background-image: url('../../../public/assets/img/symbols/resistencia.png');
    background-position: right 17.8rem top 6rem;
    background-repeat: no-repeat;
    background-size: 45.5rem;
    padding-bottom: 9rem;
    overflow-x: hidden;
}

.main {
    color: white;
    text-align: center;
    padding: 0.2rem 1rem 3rem 2rem;
}

.main h1 {
    font-size: 4rem;
    padding: 0 6rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.leftBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 0 6rem;
}

.leftBox p {
    font-size: 1.8rem;
    line-height: 2.1rem;

    margin-bottom: 4rem;
    padding: 0 4rem;

    z-index: 1;
}

.leftBox img {
    position: absolute;
    width: 32rem;
    top: 31.2rem;
    left: 1rem;
}

.rightBox {
    position: absolute;
    right: 5rem;
    top: 8rem;
    width: 70vh;
    height: 90vh;
    margin-left: 3rem;
    overflow: hidden;
}

.rightBox img {
    width: 102%;
    height: auto;
    display: block;
    transform: translate(-2%, -10%);
}

.button {
    z-index: 1;
}

.mobileButton {
    display: none;
}

@media (max-width: 767px) {
    .body {
        background-image: url('../../../public/assets/img/symbols/persistencia.png');
        background-size: 18rem;
        background-position: right 10rem top 25rem;
        padding-bottom: 1rem;
    }

    .main {
        padding: 0;
        overflow: hidden;
        
        background-image: url('../../../public/assets/img/symbols/resistencia.png');
        background-repeat: no-repeat;
        background-size: 26rem;
        background-position: left 5.8rem top 8.4rem;
    }

    .main h1 {
        padding: 0 1rem;
        font-size: 2.8rem;
        margin-bottom: 0;
    }

    .rightBox {
        position: relative;
        width: 20rem;
        height: 24.8rem;
        left: 0.4rem;
        top: 1.8rem;
        margin-bottom: 3rem;
    }

    .leftBox {
        padding: 2rem;
    }

    .leftBox p {
        font-size: 1.6rem;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }

    .leftBox img {
        display: none;
    }
    
    .button {
        display: none;
    }

    .mobileButton {
        display: block;
        z-index: 1;
    }
}