.main {
    padding: 0.2rem 1rem 3rem 2rem;
    background-color: var(--darkblue-color);
}

.leftBox {
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 0 6rem;
}

.leftBox h1 {
    margin-top: 2rem;
    font-size: 4rem;
}

.leftBox p {
    font-size: 1.8rem;
    line-height: 2.1rem;

    margin-bottom: 3rem;
    padding: 0 3rem;
}

.rightBox {
    background-color: brown;
    width: 65vh;
    height: 86vh;
    margin-left: 3rem;
    overflow: hidden;
}

.rightBox img {
    width: 105%;
    height: auto;
    display: block;
    transform: translate(-2%, -10%);
}

