.button {
    background-color: var(--cream-color);
    border: none;
    border-radius: 2rem;

    font-size: 1.5rem;
    color: var(--darkblue-color);
}

/* .button.Large {
    background-color: var(--cream-color);
    border: none;
    padding: 1rem 9.5rem;
    border-radius: 2rem;

    0.65rem 3.4rem

    font-size: 1.5rem;
    color: var(--darkblue-color);
} */